body {
	background: #7B68EE;
}
.block1 {
  height:30px;
  width:30px;
  background: #FF0000;
  position: absolute;
}
/*.block2 {
  height:30px;
  width:30px;
  background: #0000FF;
  position: absolute;
  left: 650px;
}
.block3 {
  height:30px;
  width:30px;
  background: #00FF00;
  position: absolute;
  left: 1300px;
}*/
.block-trap {
  height:50px;
  width:200px;
  background: #FFFF00;
  position: absolute;
}